body { 
    overflow-x: hidden; 
    overflow-y: scroll !important; 
    overflow: hidden;
}
.container-fluid {
    overflow: hidden;
}
.header {
    height: 630px;
    background-image: url("../img/bg-home-1.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    position: relative;
}
.logo-container { 
    margin-bottom: 0;
    text-align: center;
}
.logo-container .logo {
    width: 100px;
    margin: 10px 0;
    text-align: center;
}
.top-banner {
    margin-top: 13% !important;
}
.menu {
    position: fixed;
    width: 100%;
    margin: 0 !important;
    z-index: 10;
    background-color: #00000052;
    font-size: 25px;
}
.top-title{
    font-size: 50px;
    position: absolute;
    width: 100%;
    height: 100%;
}
nav{
    display:flex;
    align-items: center;
    justify-content: space-between;
    text-decoration-color: white;
    margin-bottom: 0;
    float: right;
    padding-right: 40px;
    width: 100%;

}
nav.left {
    padding-right: 0;
    float: left;
    width: 100%;
}
nav.right ul{
    padding-left: 0;
    text-align: right;
}
nav ul {
    margin-bottom: 0 !important;
    width: 100%;
}
nav ul li{
    list-style: none;
    display: inline-block;
    margin: 10px 40px;
}
nav ul li a{
    position: relative;
    text-decoration: none;
    color: #fff;
    padding: 10px 3px;
    font-size: 20px;
    letter-spacing: 4px;
    font-family: 'Anton', sans-serif;
}
nav ul li a:hover{
    color: #0dcaf0;

}
nav ul li a:after{
    content: "";
    position: absolute;
    left: 0;
    width: 0;
    height: 3px;
    background: #0dcaf0;
    transition: .3s;
    bottom: 0;
}
nav ul li a:hover:after{
    width: 100%;
}
h1.title {
    font-family: 'Teko', sans-serif;
    font-size: 70px;
    text-align: center;
    color: #0dcaf0;
    letter-spacing: 2px;
    font-weight: 700;
}
h2 {
    font-family: 'Teko', sans-serif;
    font-size: 45px;
    text-align: center;
    letter-spacing: 3px;
}
p{
    text-align: center;
    font-size: 18px;

}
.top-title h1{
    color: #fff;
    letter-spacing: 5px;
    font-size: 22px;
    font-weight: 400;
    font-family: 'Anton', sans-serif;
    position: absolute;
    width: 100%;
    bottom: 13%;
}
.about-us {
    max-width: 1200px !important;
    margin: 50px auto !important;
    position: relative;
}
.about-us p {
    margin-bottom: 50px;
}
.bg-2 {
    position: absolute;
    left: -310px;
    top: -50px;
    width: 470px;
}
.bg-1 {
    position: absolute;
    right: -346px;
    bottom: -53px;
    width: 470px !important;
}
/* Team */
.team { 
  max-width: 800px; 
  margin: 0 auto !important; 
}
.team .img {
  background-size: cover;
  background-repeat: no-repeat;
  height: 400px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: width 2s;
  width:100%;
  overflow:hidden;
  position: relative;
}
.team .img:after{
  background: #0dcaf0;
  position:absolute;
  width:100%;
  height:400px;
  bottom: -400px;
  left:0px;
  content:"";
  -webkit-transition-duration: 0.5s;
  -webkit-transition-timing-function: ease-in-out;
  transition-duration: 0.5s;
  transition-timing-function: ease-in-out;
}
.team .img:hover:after{
  background: #0dcaf0;;
  position:absolute;
  width:100%;
  height:400px;
  bottom:0px;
  left:0px;
  opacity: 0.7;
}
.team .img:hover .social {
  display: block;
}
.team .img.honey {
 background-image: url('../img/honey-bg.jpg');
}
.team .img.arvin {
 background-image: url('../img/arvin-bg.jpg');
}
.team .img.kaye {
 background-image: url('../img/kaye-bg.jpg');
}
.team .social {
  z-index: 10;
  display: none;
}
.team .social ul {
  list-style-type: none;
  padding-left: 0 !important;
}
.team .social ul li {
  float: left;
  padding: 0 20px;
}
.team .social ul li a i {
  color: #000;
  font-size: 24px;
}
.team .social ul li a:hover i {
    font-size: 28px;
}
.team .name {
  font-size: 22px;
  padding: 10px 0 !important;
  letter-spacing: 2px;
  font-family: 'Anton', sans-serif;
  color: #000 !important;
  text-decoration: none;
  cursor: pointer;
  display: block;
  letter-spacing: 4px;
}
.team .name:hover{
  color: #0dcaf0 !important; 
  text-decoration: underline;
}

/* Gallery */
.gallery {
    background-image: url('../img/gallery-bg.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    padding: 50px 0;
}
.gallery p{
    color: #fff;
    margin-bottom: 50px;
}
.gallery a {
    font-family: 'Teko', sans-serif;
    text-decoration: none;
    color: #0dcaf0;
    float: right;
    font-size: 50px;
    padding: 20px 0;
    letter-spacing: 3px;
    font-weight: 700;
}
.gallery a:hover {
    color: #000;
}
.gallery-tab {
    max-width: 1200px;
    margin: 0 auto !important;
}
#v-pills-tab {
    background: #c1c1c1;
    padding: 10px;
}
.nav-pills .nav-link,
.nav-pills .nav-link.active, .nav-pills .show>.nav-link {
    color: #000 !important;
    background-color: white !important;
    margin: 5px 0;
    border-radius: 0;
    font-family: 'Anton', sans-serif;
    font-size: 18px;
    letter-spacing: 2px;
    position: relative;
}
.nav-pills .nav-link.active:after {
    content: "";
    position: absolute;
    top: 1px;
    right: -35px;
    border-top: 20px solid transparent;
    border-bottom: 20px solid transparent;
    border-left: 25px solid #c1c1c1;
    display: block;
    width: 0;
}
.slick-slide .img-slider{
    float: left;
    width: 33% !important;
    padding: 0 5px !important;
}
.slick-slide .img-slider img {
    width: 100%;
    border: 5px solid #c1c1c1;
    border-radius: 10px;
}
.slick-list.draggable {
    margin: 0 50px;
}
.carousel.slick-initialized.slick-slider.slick-dotted {
    position: relative;
}
i.slick-prev.pull-left.fas.fa-angle-left.slick-arrow {
    position: absolute;
    left: 0;
    top: 42%;
    cursor: pointer;
    font-size: 50px;
    color: #fff;
}
i.slick-next.pull-right.fas.fa-angle-right.slick-arrow{
    position: absolute;
    right: 0;
    top: 42%;
    cursor: pointer;
    font-size: 50px;
    color: #fff;
}
ul.slick-dots {
    text-align: center;
}
ul.slick-dots li {
    display: inline-block;
    margin: 0 10px;
}
.tab-content>.tab-pane {
    padding: 0 !important;
    background-color: transparent !important;
}
.honey_ban {
    background-image: url('../img/honey_ban.jpg');
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center center;
    height: 300px;
}
.arvin_ban {
    background-image: url('../img/arvin_ban.jpg');
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center center;
    height: 300px;
}
.kaye_ban {
    background-image: url('../img/kaye_ban.jpg');
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center center;
    height: 300px;
}
.btn-close{
    top: 13px;
    right: 14px;
    position: absolute;
    color: #fff;
}
.modal-body {
    padding: 50px !important;
}
.modal-body h5 {
    line-height: 34px;
    font-family: 'Teko', sans-serif;
    font-size: 25px;
}
.Activities {
    margin: 50px auto !important;
    position: relative;
    max-width: 1000px !important;
}
.Activities .title {
    margin-bottom: 25px;
}
.Activities .box-content {
    margin-bottom: 50px;
    background-color: #19e7fd;
    padding: 20px;
    border-radius: 50px;
}
.Activities .box-content p,
.Activities .box-content a {
    text-align: left !important;
    font-family: 'Teko', sans-serif;
}
.Activities .box-content p {
    font-size: 20px;
}
.Activities .box-content a {
    display: block;
    color: #000;
    text-decoration: none;
    font-size: 40px;
}
.Activities .box-content a:hover {
    color: #fff !important;
}
.Activities .box-content.no-margin {
    margin-bottom: 0 !important;
}
.Activities .box-content img {
    height: 180px;
}
.Activities .bg-2{
    left: -425px !important;
}
.Activities .bg-1{
    right: -425px !important;
}

.contact {
  background-image: url('../img/our-activities.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  margin: 0 auto;
  padding: 50px 0;
}
.contact .box-content {
  margin: 30px auto;
  color: #fff;
  max-width: 800px;
}
.contact .box-content h1 {
  margin-bottom: 20px;
  font-family: 'Teko', sans-serif;
  font-size: 60px;
  letter-spacing: 1px;
  color: #fff;
}
.contact .content {
  border-radius: 5px;
  background-color: rgb(155 150 150 / 40%);
  padding: 20px;
  text-align: left;
  margin: 0 auto;
}
.contact .content label{
  font-family: 'Teko', sans-serif;
  letter-spacing: 2px;
  font-size: 20px;
}
.contact .form-row {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}
.contact .form-row i {
    font-size: 40px;
    margin-right: 20px;
    color: #dbdee3 !important;
}
.contact .form-row .col-md-6 {
    padding-right: 10px;
    width: 46%;
}
.contact .form-row .col-md-12 {
    width: 90.5%
}
.contact .submit {
    width: 100%;
    text-align: right;
    padding-right: 9px;
    margin-top: 20px;
}
.contact .submit button {
    font-family: 'Teko', sans-serif;
    background: #0dcaf0;
    width: 120px;
    font-size: 24px;
    border: none;
    letter-spacing: 2px;
}

.footer {
    background-color: #242424;
    font-family: 'Teko', sans-serif;
    padding: 50px 0;
    color: #fff;
}
.footer .left-footer ul {
    text-decoration: none;
    margin-bottom: 0;
}
.footer .left-footer ul li {
    display: block;
    line-height: 35px;
    font-size: 25px;
}
.footer img {
    width: 120px;
    margin-bottom: 10px;
}
.footer p {
    font-size: 25px;
}

/*Mobile Menu */
.mobile {
    display: none;
}
.mobile-logo img {
    width: 120px;
    margin-top: 20px;
}
.button_container {
  position: fixed;
  top: 5%;
  right: 2%;
  height: 27px;
  width: 35px;
  cursor: pointer;
  z-index: 100;
  transition: opacity .25s ease;
}
.button_container:hover {
  opacity: .7;
}
.button_container.active .top {
  transform: translateY(11px) translateX(0) rotate(45deg);
  background: #FFF;
}
.button_container.active .middle {
  opacity: 0;
  background: #FFF;
}
.button_container.active .bottom {
  transform: translateY(-11px) translateX(0) rotate(-45deg);
  background: #FFF;
}
.button_container span {
  background: #95e9f2;
  border: none;
  height: 5px;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  transition: all .35s ease;
  cursor: pointer;
}
.button_container span:nth-of-type(2) {
  top: 11px;
}
.button_container span:nth-of-type(3) {
  top: 22px;
}

.overlay {
  position: fixed;
  background: #19e7fde0;
  top: 0;
  left: 0;
  width: 100%;
  height: 0%;
  opacity: 0;
  visibility: hidden;
  transition: opacity .35s, visibility .35s, height .35s;
  overflow: hidden;
  z-index: 11;
}
.overlay.open {
  opacity: .9;
  visibility: visible;
  height: 100%;
}
.overlay.open li {
  animation: fadeInRight .5s ease forwards;
  animation-delay: .35s;
}
.overlay.open li:nth-of-type(2) {
  animation-delay: .4s;
}
.overlay.open li:nth-of-type(3) {
  animation-delay: .45s;
}
.overlay.open li:nth-of-type(4) {
  animation-delay: .50s;
}
.overlay nav {
  position: relative;
  height: 70%;
  top: 50%;
  transform: translateY(-50%);
  font-size: 50px;
  font-family: 'Teko', sans-serif;
  font-weight: 400;
  text-align: center;
}
.overlay ul {
  list-style: none;
  padding: 0;
  margin: 0 auto;
  display: inline-block;
  position: relative;
  height: 100%;
}
.overlay ul li {
  display: block;
  height: auto;
  position: relative;
  opacity: 0;
}
.overlay ul li a {
  display: block;
  position: relative;
  color: #000;
  text-decoration: none;
  overflow: hidden;
}
.overlay ul li a:hover {
    color: #fff;
}
.overlay ul li a:hover:after, .overlay ul li a:focus:after, .overlay ul li a:active:after {
  width: 100%;
}
.overlay ul li a:after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 50%;
  width: 0%;
  transform: translateX(-50%);
  height: 3px;
  background: #FFF;
  transition: .35s;
}

@keyframes fadeInRight {
  0% {
    opacity: 0;
    left: 20%;
  }
  100% {
    opacity: 1;
    left: 0;
  }
}
@media screen and (max-width: 768px) {
  .mobile {
    display: block !important;
  }
  .desktop {
    display: none !important;
  }
  .header {
    height: 630px;
    background-image: url("../img/mobile-header-bg.jpg");
  }
  .col-sm-6 {
    width: 50% !important;
  }
  .team .img {
    height: 500px !important;
    width: 90% !important;
    margin: 0 auto;
    background-position: top center;
  }
  .modal-header {
    height: 132px !important;
  }
  .Activities .box-content {
    width: 70% !important;
    margin-bottom: 40px !important;
    margin: 0 auto;
  }
  .top-title h1 { 
    bottom: 37% !important;
  }
}
@media screen and (max-width: 480px) {
    .modal-header {
        height: 110px !important;
    }
}
@media screen and (max-width: 450px) { 
    .header {
        height: 630px;
        background-image: url("../img/s-mobile-header-bg.jpg");
    }
}
@media screen and (max-width: 410px) {
    .modal-header {
        height: 90px !important;
    }
}